.nav{
    display:inline-flex;
    background-color: dodgerblue;
    width: 100%;
}
img{
    margin: 10px;
    width:40px;
    height: 40px;
    align-items: center;
}
h1{
    color: azure;
    display: inline-flex;
    align-items: center;
    font-size: medium;
}
ul{
    display: inline-flex;
    list-style-type: none;
    align-items: center;
    

}
li{
    justify-content: space-between;
    margin-left:30px;
}
a{
    font-size: small;
    justify-content: space-between;
    text-decoration: none;
    color: azure;
}
/* start of box within box */
.center-box{ 

    display:block;
    background-color: darkblue;
    width: 99%;
    min-height: 200px;
    position: relative;
    margin: 10px;
    

}
.center-item {
    display: block;
    background-color: bisque;
    width: 80px;
    height: 80px;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 30%;
    left: 50%;
} 
/* end of box within box*/